body{max-width: 1400px;
display: block;
margin: 0 auto;
background: linear-gradient(0deg, rgb(247, 247, 247) 23.8%, rgb(252, 221, 221) 92%);
background-repeat: no-repeat;
height: 1400px;}


h1{text-align: center;
margin-top: 15px;
color: var(--bs-danger-text-emphasis);}

h2{color: var(--bs-danger-text-emphasis);
text-align: center;
font-size: 24px;
margin-top: 15px;}

p{line-height: 2.5;
    text-align: center;
    color: #f76b8a;
}
img{
border-radius: 5px;
width: 400px;
height: 425px;
display: block;
margin: 0 auto;}
@media(max-width:576px){img{border-radius: 5px;
    width: 330px;
    height: 370px;
    display: block;
    margin: 0 auto;}
footer {margin-bottom: 20px;}
h2{font-size: 20px;}}
footer{text-align: center; 

}

a{ color: var(--bs-danger-text-emphasis);

}

a:hover{color:#f76b8a;
}
.active { color: #a42431;}
.container-fluid{
    width: 300px;
    display: block;
    margin: 0 auto;
}
